[Desktop Entry]
Name=Klorax. Dracula Opaque
Comment=Dracula Opaque by Klorax

X-KDE-PluginInfo-Author=Klorax
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasmashell
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=klorax.dracula-opaque
X-KDE-PluginInfo-Version=2.0.0
X-KDE-PluginInfo-Website=https://gitlab.com/klorax/ui_config
X-Plasma-API=5.0

[ContrastEffect]
enabled=true
contrast=0.2
#Intensity is disabled, in order to auto adjust to the chosen theme color.
#intensity=2.0
saturation=1.7

[Wallpaper]
defaultWallpaperTheme=klorax.dracula_light-16_9-1920x1080
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080
